@{
    ViewBag.Title = "Home Page";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>El Leedor</h1>
                    <span class="subheading">Una nueva forma de preservar la cultura!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-title">
                    Algunas bondades de la plataforma
                </h2>
                <br>
                <h3 class="post-subtitle">
                    Facil de utilizar
                </h3>
                <p class="post-meta">
                    * Intuitivo <br>
                    * Atractivo <br>
                    * Organizado <br>
                </p>
                <h3 class="post-subtitle">
                    Distribución
                </h3>
                <p class="post-meta">
                    * Altamente escalable<br>
                    * Accesible desde todo el mundo<br>
                    * Generación de alto impacto<br>
                </p>
                <h3 class="post-subtitle">
                    Contenido
                </h3>
                <p class="post-meta">
                    * Tus mejores autores<br>
                    * Variedad de generos literarios<br>
                    * Comunidad de lectores<br>
                </p>
            </div>
            

        </div>
    </div>
</div>



@*<div class="jumbotron">
        <h1>Tercer examen parcial</h1>
        <p class="lead">Rodrigo Centurión</p>
        <p><a href="https://aspmvcrodrigocenturion.azurewebsites.net/" class="btn btn-primary btn-lg" target="_blank">Ver proyecto ASP.NET MVC &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h2>MaxiCambios</h2>
            <p>A continuación se muestra la cotización del dolar: </p>
            <p>Compra: <b> @Html.Raw(ViewBag.Cotizacion_compra) </b></p>
            <p>Venta: <b> @Html.Raw(ViewBag.Cotizacion_venta) </b></p>
            <p><a class="btn btn-default" href="https://github.com/melizeche/dolarPy" target="_blank">API fuente &raquo;</a></p>
        </div>
        <div class="col-md-4">
        </div>
    </div>*@