@{
    ViewBag.Title = "Nosotros";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Rodrigo Centurión</h1>
                    <span class="subheading">Gestión de Proyectos, Liderazgo de equipos, Desarrollo de Software</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Hijo de padres informaticos (ambos analistas de sistemas), tercero de cuatro hermanos, vivi mi niñez en el centro de Asunción, para luego vivir en Republicano por siete años, y desde hace 4 años en Villa Elisa.</p>
            <p>Seguí el bachiller tecnico en Informatica, participé en una exposición de proyectos informaticos en el 2012, empecé a trabajar en desarrollo de software desde los 18 y me casé a los 21 años, no tengo hijos.</p>
            <p>Actualmente cuento con experiencia de 7 años en análisis, diseño y desarrollo de software, trabajo en equipo. Experiencia en liderazgo y gestión de equipos de desarrollo.</p>
            <p>Experiencia de 3 años en entidades bancarias optimizando procesos operativos a través de la implementación de proyectos de software.</p>
            <p>Habilidades de negociación con otras áreas, planificación y ejecución de los proyectos.</p>
            <p>Foco en la comprensión de procesos y optimizacion de los mismos a través del desarrollo e implementación de software a medida, generando ahorro de tiempo y dinero que podrán ser re-invertidos en otros frentes. </p>
            <img src="/img/foto_rodrigo.jpeg">
        </div>
    </div>
</div>