
@{
    ViewBag.Title = "ParaTi";
}

<h2>ParaTi</h2>

a.	La página con mayor cantidad de Me Gusta: <b> @ViewBag.mayor_MeGusta </b>
<br>

b.	La cantidad de páginas que sean de la categoría Programación:<b> @ViewBag.cant_Programacion </b>
<br>

c.	El promedio de likes de las páginas que sean de la ciudad de Asunción:<b> @ViewBag.promedioLikesAsuncion </b>

